/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* FUNDO */
  body {
    height: 100vh;
    background: linear-gradient(135deg, #000000, #2c2c2c);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* CONTAINER */
  .container {
    text-align: center;
  }
  
  /* TÍTULO */
  .container h1 {
    color: #ff0000;
    margin-bottom: 25px;
    font-size: 32px;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  }
  
  /* CARD */
  .card {
    width: 300px;
    background-color: #2b2b2b;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.25);
    margin-bottom: 20px;
  }
  
  /* INPUT */
  .card input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #ff0000;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 15px;
    outline: none;
    transition: box-shadow 0.3s, border 0.3s;
  }
  
  .card input::placeholder {
    color: #b5b5b5;
  }
  
  .card input:focus {
    border-color: #ff3b3b;
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.8);
  }
  
  /* BOTÃO */
  .card button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: linear-gradient(135deg, #ff0000, #b30000);
    border: none;
    border-radius: 8px;
    color: #ff0000;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }
  
  /* ANIMAÇÃO DE LUZ */
  .card button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent
    );
    transition: left 0.5s;
  }
  
  .card button:hover::before {
    left: 100%;
  }
  
  /* HOVER */
  .card button:hover {
    transform: translateY(-4px) scale(1.04);
    box-shadow: 
      0 0 12px #ff0000
  }