/* ===== CONFIGURAÇÃO GERAL ===== */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* ===== CONTAINER ===== */
.container {
    background: rgba(255, 255, 255, 0.06);
    padding: 30px;
    width: 340px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    text-align: center;
}

/* ===== TÍTULO ===== */
h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

/* ===== INPUTS ===== */
input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

/* ===== BOTÃO COM ANIMAÇÃO ===== */
button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    background: #00a8ff;
    color: white;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

/* ANIMAÇÃO AO PASSAR O MOUSE */
button:hover {
    background: #0097e6;
    transform: scale(1.08);
    box-shadow: 0 0 15px #0097e6;
}

/* ===== RESULTADO ===== */
result{
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #f6f6f6;
}
